<% content_for :panel_subtitle, 'Crear dirección de envío' %>

<div class="btn-group pull-right btn-group-xs" style="margin-top: -30px;">
  <%= link_to user_addresses_path, title: 'Listado', class: 'btn btn-success' do %>
    <i class="fa fa-list fa-fw" aria-hidden="true"></i>
  <% end %>
</div>

<%= render 'form' %>