<% content_for :panel_subtitle, @article.shape_sp.titlecase %>

<div class="btn-group pull-right btn-group-xs" style="margin-top: -30px;">
	<%= link_to @article, title: 'Ver', class: 'btn btn-success tooltip-trigger' do %>
		<i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
	<% end %>
	<%= link_to articles_path(@shape), title: 'Ir al listado', class: 'btn btn-warning tooltip-trigger' do %>
		<i class="fa fa-list fa-fw" aria-hidden="true"></i>
  <% end %>
</div>

<%= render 'tabs' %>

<%= render 'form' %>