<% content_for :panel_subtitle, 'Editar Obra' %>

<div class="btn-group pull-right btn-group-xs" style="margin-top: -30px;">
  <%= link_to @work, title: 'Ver', class: 'btn btn-warning tooltip-trigger' do %>
    <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
  <% end %>
  <%= link_to works_path, title: 'Listado', class: 'btn btn-success tooltip-trigger' do %>
    <i class="fa fa-list fa-fw" aria-hidden="true"></i>
  <% end %>
</div>

<%= render 'form' %>
