<div class="socialmedia-bottom">
  <div class="facebook"> <a href="<%= @website.facebook %>" target="_blank">Facebook</a> </div>
  <div class="twitter"> <a href="<%= @website.twitter %>" target="_blank">Twitter</a> </div>
  <div class="youtube"> <a href="<%= @website.youtube %>" target="_blank">Youtube</a> </div>
</div>