/* Pagina de Productos */

.product-view{
    margin-top: 50px;
    h1{
            padding: 0;
            margin-bottom: 0;
            font-size: 33px;
            color: $c-gris-oscuro;
            line-height: 1.1;
        }
        .reviews{
            margin-top: 6px;
            margin-bottom: 40px;
            & > label{
                color: $c-gris-oscuro;
                height: 24px;
                line-height: 24px;
                float: left;
                padding-left: 10px;
            }
        }
    .product-imagen{
        float: left;
        width: percentage(740px / 1500px);
        position: relative;
        z-index: 5;
        
        .galeria.owl-carousel{
            width: percentage(700px/1000px);
            margin: 20px auto;
            .owl-stage-outer{
                z-index: 5;
            }
            .owl-nav{
                position: absolute;
                top: 50%;
                margin-top: -32px;
                right: inherit;
                left: 0;
                width: $w-full;
                
                .owl-prev{
                    margin-left: -40px;
                    float: left;
                    background-color: transparent;
                    background-position: 8px -753px;
                    
                    &:hover{
                        background-position: -42px -753px;
                    }
                }
                .owl-next{
                    margin-right: -40px;
                    float: right;
                     background-color: transparent;
                    background-position: 8px -825px;
                    
                    &:hover{
                        background-position: -42px -825px;
                    }
                }
            }
            .owl-item{
                a{
                    padding: 0 10px;
                    display: block;
                    img{
                        border:1px solid transparent;
                    }
                    
                    &.active{
                        img{
                            border:1px solid $c-verde-link;
                        }
                    }
                }
            }
        }
        
        img{
            display: block;
            width: $w-full !important;
        }
    }
    .product-info{
        float: right;
        width: percentage(680px / 1500px);
        
        
        
        .product-price{
            width: $w-full;
            
            .price{
                float: left;
                font-size: 25px;
                font-weight: 600;
                font-style: italic;
                color: $c-gris-oscuro;
                padding-top: 7px;
            }
            
            .code-stock{
                float: right;
                
                .sku{
                    font-size: $f-size-xl;
                    color: $c-gris-menu;
                    margin-bottom: 8px;
                    
                    span{
                        color: $c-gris-oscuro;
                    }
                }
                .stock{
                    color: $c-gris-oscuro;
                    font-size: $f-size-xl;
                }
            }
            
            &:after{
                display: block;
                clear: both;
                content: '';
            }
        }
        
        
        .separador{
            width: 80%;
            height: 2px;
            background: $c-gris-submenu-icon-mobile;
            margin: 30px auto;   
            opacity: 0.5;
        }
        
        .caracteristicas{
            h3{
                font-family: Roboto;
                font-weight: 400;
                padding: 0;
                margin: 0 0 10px 0;
                letter-spacing: normal;
                color: $c-gris-oscuro;
            }
            p{
                font-size: $f-size;
                color: $c-gris-h2;
                margin-bottom: 10px;
                line-height: 1.4;
                font-weight: 300;
            }
        }
        .dimensiones{
            h3{
                font-family: Roboto;
                font-weight: 400;
                padding: 0;
                margin: 0 0 10px 0;
                letter-spacing: normal;
                color: $c-gris-oscuro;
            }
            p{
                font-size: $f-size-xl;
                display: inline-block;
                padding: 8px;
                background: $c-blanco;
                color: $c-gris-oscuro;
                line-height: 1;
                font-weight: 400;
            }
        }
        
        .ver-ficha{
            background: $c-gris-menu;
            text-transform: uppercase;
            color: $c-blanco;
            font-size: $f-size-xl;
            padding: 15px 10px 13px;
            font-family: Aria-Medium;
            line-height: 1;
            letter-spacing: 0.05em;
            display: inline-block;
            margin-top: 15px;
            @include transicion-rapida;
            
            &:hover{
                background: $c-verde-link;
            }
        }
        
        
        .cantidad{
            display: inline-block;
            vertical-align: middle;
            width: percentage(15px / 100px);
            
            label{
                font-size: $f-size-xl;
                width: $w-full;
                display: inline-block;
                margin-bottom: 5px;
            }
            
            input{
                width: 40px;
                text-align: center;
            }
            span{
                padding: 5px;
                cursor: pointer;
                
                &:hover{
                    color: $c-verde-link;
                }
            }
        }
        .agregar-boton{
            display: inline-block;
            vertical-align: middle;
            margin-left: -4px;
             width: percentage(48px / 100px);
            text-align: center;
            
            button{
                padding: 20px 10px;
            }
        }
        .compartir-product{
            display: inline-block;
            vertical-align: middle;
            margin-left: -4px;
             width: percentage(37px / 100px);
            text-align: right;
            ul{
                display: inline-block;
                text-align: left;
                
                li{
                    line-height: 1;
                    margin-bottom: 5px;
                    
                    a{
                        line-height: 1;
                        font-size: $f-size;
                        color: $c-gris-oscuro;
                        
                        &:hover{
                            color: $c-verde-link;
                        }
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }          
        
    }
    
    
    
    
    &:after{
        display: block;
        clear: both;
        content: '';
    }
}

.product-view-page {
    .content .content-info {
            section.relacionados{
                margin-top: 40px;
                margin-bottom: 80px;
                h2{
                    font-family: Aria-Medium;
                    font-size: 28px;
                    letter-spacing: 0.02em;
                    margin-bottom: 20px;
                }
             .owl-carousel{
                .owl-nav{
                    top:50%;
                    width: 100%;
                    right: inherit;
                    left: 0;
                    margin-top: -25px;
                    height: 1px;
                    .owl-prev, .owl-next{
                        width: 50px;
                        height: 50px;
                        background-color: $c-verde-link;
                        @include iconsprite;
                    }
                    .owl-prev{
                        margin-left: -15px;
                        float: left;
                           background-position: -69px -761px;

                        &:hover{
                            background-color: $c-gris-menu;
                        }
                    }
                    .owl-next{
                        float: right;
                        margin-right: -15px;
                            background-position: -68px -829px;

                        &:hover{
                            background-color: $c-gris-menu;
                        }
                    }
                }
                &.owl-drag .owl-item{
                    padding: 0 10px;
                }
            }
        }
    }
    .zoomContainer{
        z-index: 5;
    }
}

/* tabs Descripcion producto */

.product-view-page {
    .content .content-info {
        .product-descripcion{
            position: relative;
            width: $w-full;
            margin: 70px 0;
            padding-top: 30px;
            font-family: Roboto;
            font-weight: 300;
            font-size: $f-size;
            
            label{
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 10px;
                height: 30px;
                line-height: 33px;
                cursor: pointer;
                font-family: Aria-Demi;
                font-size: $f-size-l;
                text-transform: uppercase;
                
                
                &.tab2{
                    left: 139px;
                }
                &.tab3{
                    left: 362px;
                }
                &:hover{
                    background: $c-verde-claro;
                }
                &.active{
                    background: $c-verde-link;
                    cursor: inherit;
                }
            }
            @media only screen and (max-width: $bp479) {
                label{
                    display: block;
                    position: relative;
                    top: inherit;
                    left: inherit;
                    border-bottom: 1px solid $c-gris-menu-mobile;
                    width: $w-full;
                    height: 40px;
                    line-height: 43px;
                    
                    &:first-of-type{
                        border-top: 1px solid $c-gris-menu-mobile;
                    }
                    &.tab2{
                        left: inherit;
                    }
                    &.tab3{
                        left: inherit;
                    }
                    &.active{
                        border-bottom: none;
                    }
                }
            }
            div{
                border: 1px solid $c-gris-menu-mobile;
                padding: 20px;
                display: none;
                color: $c-gris-h2;
                line-height: 1.3;
                font-size: $f-size-s;
                
                p{
                    line-height: 1.3;
                    font-size: $f-size-s;
                    margin-bottom: 10px;
                }
                ul{
                    line-height: 1.3;
                    font-size: $f-size-s;
                    margin-bottom: 10px;
                }
                
                &.content-tab3{
                    p{
                        margin-bottom: 10px;
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 10px;
                        
                        
                        a{
                            background: $c-gris-menu-hover;
                            color: $c-gris-oscuro;
                            padding: 8px;
                            line-height: 1;
                            font-size: $f-size;
                            font-weight: 400;
                            display: block;
                            
                            &:hover{
                                background: $c-verde-link;
                            }
                        }
                    }
                }
            }
        } 
        @media only screen and (max-width: $bp479) {
            .product-descripcion{
                margin: 40px 0;
            }
        }
    }   
}





@media only screen and (max-width: $bp1250) {
    .product-view{
        .product-imagen{
            .galeria.owl-carousel{
                .owl-nav{
                    margin-top: -21px;
                    .owl-prev{
                        margin-left: -30px;
                         background-position: 6px -449px;
                        background-size: 60px 600px;
                    }
                    .owl-next{
                        margin-right: -30px;
                         background-position: 6px -493px;
                        background-size: 60px 600px;
                    }
                }
                .owl-item a{
                    padding: 0 5px;
                }
            }
        }
    }
}


@media only screen and (max-width: 1100px) {
    .product-view{
        .product-info{
            .cantidad{
                width: percentage(18px / 100px);
            }
            .agregar-boton{
                width: percentage(43px / 100px);
                button{
                    padding: 22px 10px;
                    font-size: $f-size-xs;
                }
            }
            .compartir-product{
                width: percentage(39px / 100px);
            }
        }
    }
}

@media only screen and (max-width: $bp970) {
    .product-view{
        .product-info{
            
             .product-price{
                .price{
                    float: left;
                }
                 .code-stock{
                    float: left;
                     width: $w-full;
                     margin-top: 20px;
                 }
            }
             
            .cantidad{
                width: 80px;
            }
            .agregar-boton{
                width: 220px;
                button{
                    padding: 22px 10px 18px;
                    font-size: $f-size-xl;
                }
            }
            .compartir-product{
                width: percentage(100px / 100px);
                margin-left: 0;
                margin-top: 25px;
                text-align: left;
                ul{
                    display: block;
                    width: $w-full;
                }
            }
        }
    }
}

@media only screen and (max-width: $bp760) {
    
    .product-view{
        h1{
            font-size: 26px;
        }
        .product-imagen,
        .product-info{
            float: left;
            width: percentage(1500px / 1500px);
        }
        .product-imagen{
            margin-bottom: 20px;
        }
    }
    .zoomContainer{display: none !important;}
}

@media only screen and (max-width: $bp479) {
    .product-view{
        .product-info{

            .agregar-boton{
                width: 190px;
                button{
                    padding: 24px 10px 20px;
                    font-size: $f-size;
                }
            }
            
        }
    }
}
    
