.display { position: relative; padding: 5px; border: 1px solid #ccc; margin-bottom: 10px; }
.display-caption { position: relative; padding-left: 145px; height: 60px; }
.display-thumb { display: block; position: absolute; left: 20px; top: 0; width: 120px; height: 100%; overflow: hidden; background-size: cover; background-position: center center; }
.display-title { margin: 0; font-size: 20px;
	a { color: #333;
		&:hover, &:focus { color: darken(#333, 15%); }
	}
}
.display-subtitle { font-size: 12px; margin: 3px 0 0; }
.display-bottom { position: absolute; bottom: 0; padding: 2px 0; 
	&>* { margin-right: 10px; }
}
.display-top-right { position: absolute; top: 0; right: 0; }
.display-checkbox { position: absolute; left: 0; top: 0; height: 100%; padding: 15px 0; }
.display-actions { position: absolute; bottom: 0; right: 0; }

.display-bottom-right { position: absolute; right: 0; bottom: 4px; }

.display-minimal {
	.display-caption { padding-left: 125px; }
	.display-thumb { left: 0; }
	@media(max-width: $screen-xs-max) {
		.display-caption { padding-left: 0; padding-top: 90px; height: auto; padding-bottom: 25px; }
		.display-thumb { width: 100%; top: 0; height: 90px; }
		.display-body { padding: 6px 0 2px; }
		.display-bottom-right { bottom: auto; top: 0; margin: -3px -4px; }
	}
}