@mixin clear-both {
	&:before, &:after {content: " "; display: table;}
	&:after {clear: both;}
}
@mixin transition($property, $delay, $ease-function) {
	-webkit-transition: $property $delay $ease-function;
	-moz-transition: $property $delay $ease-function;
	-ms-transition: $property $delay $ease-function;
	-o-transition: $property $delay $ease-function;
	transition: $property $delay $ease-function;
}
@mixin scrollable($height) {
	height: $height;
	overflow-y: scroll;
}
@mixin radioBtn($size, $color) {
	content: " ";display: inline-block;height: $size;width: $size;background-color: $color;border-radius: 50%;position: absolute;left: 0;top: 50%;
}
@mixin checkboxBtn($size, $color) {
	content: " ";display: inline-block;height: $size;width: $size;background-color: $color;position: absolute;left: 0;top: 50%;
}