<% content_for :body_class, 'noticias' %>

<% content_for :extra_js do %>
  Pages.articles();
<% end %>

<%= render 'partials/carousel' %>
<div class="content">
  <div class="content-info">
    <section class="news">
      <h1>Noticias</h1>
      <%= render @article %>
    </section>
    <div style="text-align:center; margin: -10px 0 30px;">
      <%= link_to 'Ver más noticias', news_page_path, class: 'btn-general' %>
    </div>
    <%= render 'partials/social_media' %>
  </div>
</div>