<% content_for :body_class, 'contacto' %>

<%= render 'partials/carousel' %>
<div class="content">
  <div class="content-info">
    <div class="breadcrumbs">
      <ul>
        <li><a href="">Home</a></li>
        <li>Contacto</li>
      </ul>
    </div>
    <section class="contact">
      <h2 class="no-display">Contacto</h2>
      <div class="col-left">
        <form name="contacto">
          <ul class="form-list">
            <li class="wide">
              <div class="field">
                <label class="requerido">Nombre Completo</label>
                <input type="text" placeholder="ej.  roberto martinez" required>
              </div>
            </li>
            <li class="wide">
              <div class="field">
                <label class="requerido">Email</label>
                <input type="email" placeholder="ej.  nombre@mail.com" required>
              </div>
            </li>
            <li class="wide">
              <div class="field">
                <label>Compañía</label>
                <input type="text" placeholder="ej. tu compania (opcional)">
              </div>
            </li>
            <li class="wide">
              <div class="field">
                <label class="requerido">Asunto</label>
                <input type="text" placeholder="Solicitar Presupuesto" required>
              </div>
            </li>
            <li class="wide">
              <div class="field">
                <label class="requerido">Mensaje</label>
                <textarea name="msj"></textarea>
              </div>
            </li>
          </ul>
          <div class="btn">
            <input type="submit" value="Enviar" name="enviar">
          </div>
        </form>
      </div>
      <div class="col-right">
        <h2>Dirección</h2>
        <div class="direccion"> <span class="icon"></span>
          <p>Jorge 408, Adrogué,<br>
            Buenos Aires</p>
        </div>
        <p class="info">Lorem Ipsum is simply dummy<br>
          text of the printing and over</p>
        <div class="telefonos"> <span class="icon"></span> <span class="numeros">(+ 54 11) 3969.8286 <br>
          (+54 11) 15.3126.3521</span> </div>
        <div class="email"> <span class="icon"></span> <a href="mailto:info@ariaweb.com.ar">info@ariaweb.com.ar</a> </div>
        <div class="info"> Si tenes preguntas sobre tu orden o necesitas informacion general nuestro servicio al cliente te respondera a la brevedad. </div>
      </div>
    </section>
    <div class="partner-bottom">
      <div class="partner"><img src="<%= asset_path 'partner/carrier.jpg' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/toshiba.jpg' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/midea.jpg' %>" alt=""></div>
    </div>
    <div class="socialmedia-bottom">
      <div class="facebook"> <a href="http://www.facebook.com" target="_blank">Facebook</a> </div>
      <div class="twitter"> <a href="http://www.twitter.com" target="_blank">Twitterk</a> </div>
      <div class="youtube"> <a href="http://www.youtube.com" target="_blank">Youtube</a> </div>
    </div>
  </div>
</div>