<% content_for :body_class do %>
	home
<% end %>

<% content_for :extra_js do %>
  $('.slider.owl-carousel').owlCarousel({
    loop:true,
    items:1,
    margin:0,
    nav:true,
    dots:true,
    responsive:{
        0:{ items:1}
    }
  }); 
<% end %>

<div class="slider owl-carousel">
  <div class="item"> <img class="desktop" src="<%= asset_path 'slider/Slider_1.jpg' %>" alt="Slider 1"> <img class="mobile" src="<%= asset_path 'slider/Slider_1_mobile.jpg' %>" alt="Slider 1 Mobile">
    <div class="info-slider">
      <h2>Proximamente<br>
        <span>ariaweb.com.ar</span></h2>
      <p>Estamos trabajando en la web<br>
        para brindarte el mejor servicio.</p>
    </div>
  </div>
</div>