// ==============================================
// SASS  Variables ARIA
// ==============================================


// ==========================================================
//  Colores 
// ==========================================================

$c-gris-claro: #e3e3e3;
$c-gris-claro-carrito: #f8f8f8;
$c-gris-oscuro: #333333;
$c-gris-oscuro2: #575757;
$c-gris-menu: #6d6d6d;
$c-gris-menu-hover: #a19e9b;
$c-gris-menu-mobile: #e8e8e8;
$c-gris-submenu-icon-mobile: #c3c3c3;
$c-gris-h2:#707070;
$c-gris-footer: #373737;
$c-gris-titulo-checkout: #aaaaaa;
$c-verde-link: #44ccf9;
$c-verde-oscuro: #00aeef;
$c-verde-claro: #58cbf3;
$c-blanco: #ffffff;
$c-negro: #000000;
$c-rojo: #ff4a4a;

// ==========================================================
//  Tipografias Fuentes 
// ==========================================================

$f-aria-light: 'Roboto';
$f-aria-book: 'Roboto';
$f-aria-demi: 'Roboto';
$f-aria-medium: 'Roboto';
$f-aria-bold: 'Roboto';


// ==========================================================
//  Tipografias Tamaños 
// ==========================================================

$f-size-xxl: 18px;
$f-size-xl: 16px;
$f-size-l: 15px;
$f-size: 14px;
$f-size-s: 13px;
$f-size-xs: 12px;
$f-size-xxs: 11px;

// ==========================================================
//  Medidas
// ==========================================================

//Anchos
$w-full: 100%;
$w-aria: 1500px;

//Padding
$pa-laterales-big:  0 30px;
$pa-laterales-small:  0 15px;

//Margenes
$ma-center: 0 auto;

//Breakpoint
$bp1400: 1400px;
$bp1250: 1250px;
$bp1050: 1050px;
$bp970: 990px;
$bp760: 760px;
$bp550: 550px;
$bp479: 479px;

