<% content_for :extra_js do %>
  Panel.categories();
<% end %>

<h1>
  Categorías
  <%= link_to '#', class: 'pull-right link-gray', data: { util: 'template', template: '#panel-template', target: '#group-root' } do %>
    <small><i class="fa fa-plus fa-fw" aria-hidden="true"></i></small>
  <% end %>
</h1>

<div class="panel-group nested" role="tablist" id="group-root">
  <%= render @categories %>
</div>

<div class="hidden">
  <%= render 'categories/category', category: Category.new %>
</div>