<h4 style="margin-bottom:10px;margin-top:0px">Terme.com.ar</h4>
<h2 style="margin-bottom:10px;margin-top:0px">Hola <%= @resource.name %>!</h2>

<p>Se ha solicitado un enlace para cambiar la contraseña de su cuenta. Puede hacerlo a través del siguiente link.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no lo ha solicitado, por favor, ignore este mensaje.</p>
<p>Su contraseña no cambiará hasta que acceda al link anterior y cree una nueva.</p>
