<h1 class="text-center" style="margin-bottom:30px;">
	<i class="fa fa-sliders fa-fh" aria-hidden="true"></i>
	Panel Aria
</h1>
<div class="action-btn-group">
	<a class="action-btn" href="<%= categories_path %>">
		<div class="vertical-align">
			<div class="middle">
				<i class="fa fa-list fa-fw" aria-hidden="true"></i>
				<span>Categorías</span>
			</div>
		</div>
	</a>
</div>